<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings"
					  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Elvis.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 requirePermission="false"/>
			<section name="Elvis.Properties.Display"
					 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings"
					  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Elvis.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 allowExeDefinition="MachineToLocalUser"
					 requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>

		<add name="TrendSchemaEntities"
			 connectionString="metadata=res://*/ElvisDataModel.EDMX.ElvisTrendSchema.csdl|res://*/ElvisDataModel.EDMX.ElvisTrendSchema.ssdl|res://*/ElvisDataModel.EDMX.ElvisTrendSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CPLAPTOP\\MSSQLSERVER01;initial catalog=ElvisDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<add name="PTCCINSQL"
			 connectionString="Data Source=PTCCINSQL.porttalbot.pcswales.corusgroup.com;Initial Catalog=Runtime;Persist Security Info=True;User ID=sa;"
			 providerName="System.Data.SqlClient"/>

		<add name="CasterLevel3Entities"
			 connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PTCCL3SQL.porttalbot.pcswales.corusgroup.com;Initial Catalog=CasterLevel3;Persist Security Info=True;User ID=appuser;Password=applicationpwd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<add name="ClusterWW_SafetySystemsModel"
			 connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=PTPCSQLCLUSTER.porttalbot.pcswales.corusgroup.com;initial catalog=WW_SafetySystems;persist security info=True;user id=safetysystems_rw;password=safetysystems_full;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<add name="ElvisLocalEntities"
			 connectionString="metadata=res://*/ElvisLocal.csdl|res://*/ElvisLocal.ssdl|res://*/ElvisLocal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHM171\\SQLEXPRESS;initial catalog=ElvisLocal;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<add name="CMCEntities"
			 connectionString="metadata=res://*/ElvisDataModel.EDMX.CasterMachineConditionModel.csdl|res://*/ElvisDataModel.EDMX.CasterMachineConditionModel.ssdl|res://*/ElvisDataModel.EDMX.CasterMachineConditionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ptccl3sql;initial catalog=CMC;persist security info=True;user id=appuser;password=applicationpwd;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<!-- Repointed ElvisDB to local -->
		<add name="ReportSchemaEntities"
			 connectionString="metadata=res://*/ElvisDataModel.EDMX.ElvisReportSchema.csdl|res://*/ElvisDataModel.EDMX.ElvisReportSchema.ssdl|res://*/ElvisDataModel.EDMX.ElvisReportSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CPLAPTOP\\MSSQLSERVER01;initial catalog=ElvisDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<!-- Repointed ElvisDBEntities to local -->
		<add name="ElvisDBEntities"
			 connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=CPLAPTOP\\MSSQLSERVER01;initial catalog=ElvisDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

</configuration>
