<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
					  type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager">
			<section name="Elvis.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager"
					 requirePermission="false" />
			<section name="Elvis.Properties.Display"
					 type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager"
					 requirePermission="false" />
		</sectionGroup>

		<sectionGroup name="userSettings"
					  type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager">
			<section name="Elvis.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager"
					 allowExeDefinition="MachineToLocalUser"
					 requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="PTCCINSQL"
			 connectionString="Data Source=PTCCINSQL.porttalbot.pcswales.corusgroup.com;Initial Catalog=Runtime;Persist Security Info=True;User ID=sa;"
			 providerName="System.Data.SqlClient"/>

		<add name="CasterLevel3Entities"
			 connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PTCCL3SQL.porttalbot.pcswales.corusgroup.com;Initial Catalog=CasterLevel3;Persist Security Info=True;User ID=appuser;Password=applicationpwd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<add name="ClusterWW_SafetySystemsModel"
			 connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=PTPCSQLCLUSTER.porttalbot.pcswales.corusgroup.com;initial catalog=WW_SafetySystems;persist security info=True;user id=safetysystems_rw;password=safetysystems_full;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<add name="ElvisLocalEntities"
			 connectionString="metadata=res://*/ElvisLocal.csdl|res://*/ElvisLocal.ssdl|res://*/ElvisLocal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PHM171\SQLEXPRESS;initial catalog=ElvisLocal;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<add name="CMCEntities"
			 connectionString="metadata=res://*/EDMX.CasterMachineConditionModel.csdl|res://*/EDMX.CasterMachineConditionModel.ssdl|res://*/EDMX.CasterMachineConditionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ptccl3sql;initial catalog=CMC;persist security info=True;user id=appuser;password=applicationpwd;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

		<!-- legacy EventSchemaEntities (kept for reference)
		<add name="EventSchemaEntities"
			 connectionString="metadata=res://*/EDMX.ElvisEventSchema.csdl|res://*/EDMX.ElvisEventSchema.ssdl|res://*/EDMX.ElvisEventSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PTSSELVISTEST;initial catalog=elvisdb;persist security info=True;user id=ElvisClient;password=*****;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>
		-->

		<!-- Repointed EventSchemaEntities to local SQL Server (Windows Auth) -->
		<add name="EventSchemaEntities"
			 connectionString="metadata=res://*/EDMX.ElvisEventSchema.csdl|res://*/EDMX.ElvisEventSchema.ssdl|res://*/EDMX.ElvisEventSchema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CPLAPTOP\MSSQLSERVER01;initial catalog=ElvisDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient"/>

	</connectionStrings>

	<applicationSettings>
		<Elvis.Properties.Settings>
			<setting name="Setting" serializeAs="String">
				<value>t</value>
			</setting>
			<setting name="RefreshRate" serializeAs="String">
				<value>00:05:00</value>
			</setting>
			<setting name="ShowSelectors" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MinHeatNumber" serializeAs="String">
				<value>10000</value>
			</setting>
			<setting name="MaxHeatNumber" serializeAs="String">
				<value>89999</value>
			</setting>
			<setting name="MinSlabNumber" serializeAs="String">
				<value>10000018</value>
			</setting>
			<setting name="MaxSlabNumber" serializeAs="String">
				<value>99999999</value>
			</setting>
			<setting name="DashboardRowHeight" serializeAs="String">
				<value>21</value>
			</setting>
			<setting name="DashboardSingleBoxWidth" serializeAs="String">
				<value>50</value>
			</setting>
			<setting name="DashboardBoxPadding" serializeAs="String">
				<value>1, 1, 1, 1</value>
			</setting>
			<setting name="DashboardBoxFont" serializeAs="String">
				<value>Microsoft Sans Serif, 8.25pt</value>
			</setting>
			<setting name="DRFFolderForAttachment" serializeAs="String">
				<value>\\pt-fs1.porttalbot.pcswales.corusgroup.com\ELVISDRF</value>
			</setting>
			<setting name="DRFFileOperationUserUserName" serializeAs="String">
				<value>elvisdrf</value>
			</setting>
			<setting name="DRFFileOperationUserPassword" serializeAs="String">
				<value>M@nchester</value>
			</setting>
			<setting name="DRFFileOperationDomain" serializeAs="String">
				<value>bspt_proc_ctrl</value>
			</setting>
			<setting name="DRFFileMaxSize" serializeAs="String">
				<value>50000000</value>
			</setting>
			<setting name="HMSkimImageLocation" serializeAs="String">
				<value>\\1.61.67.198\plant data\PT HMDeS IR Data\SkimImages\</value>
			</setting>
			<setting name="RotaService" serializeAs="String">
				<value>http://ptwide.porttalbot.pcswales.corusgroup.com/RotaService/api/Rota/</value>
			</setting>
		</Elvis.Properties.Settings>
		<Elvis.Properties.Display></Elvis.Properties.Display>
	</applicationSettings>

	<userSettings>
		<Elvis.Properties.Settings>
			<setting name="MainFormLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="ColourCaster1" serializeAs="String">
				<value>94, 255, 252</value>
			</setting>
			<setting name="ColourCaster1Plan" serializeAs="String">
				<value>191, 255, 254</value>
			</setting>
			<setting name="ColourCaster2" serializeAs="String">
				<value>255, 71, 234</value>
			</setting>
			<setting name="ColourCaster2Plan" serializeAs="String">
				<value>255, 184, 247</value>
			</setting>
			<setting name="ColourCaster3" serializeAs="String">
				<value>249, 255, 69</value>
			</setting>
			<setting name="ColourCaster3Plan" serializeAs="String">
				<value>253, 255, 196</value>
			</setting>
			<setting name="ColourVessel1" serializeAs="String">
				<value>18, 46, 255</value>
			</setting>
			<setting name="ColourVessel1Plan" serializeAs="String">
				<value>138, 151, 255</value>
			</setting>
			<setting name="ColourVessel2" serializeAs="String">
				<value>255, 157, 0</value>
			</setting>
			<setting name="ColourVessel2Plan" serializeAs="String">
				<value>255, 211, 140</value>
			</setting>
			<setting name="ColourHeatScheduler1" serializeAs="String">
				<value>214, 219, 255</value>
			</setting>
			<setting name="ColourHeatScheduler2" serializeAs="String">
				<value>220, 255, 207</value>
			</setting>
			<setting name="TableTheme" serializeAs="String">
				<value>Default</value>
			</setting>
			<setting name="ColourBackground" serializeAs="String">
				<value>ControlLight</value>
			</setting>
			<setting name="ColourText" serializeAs="String">
				<value>ControlText</value>
			</setting>
			<setting name="ColourHighlight" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="TibExternal" serializeAs="String">
				<value>Red</value>
			</setting>
			<setting name="TibMultiServ" serializeAs="String">
				<value>BlueViolet</value>
			</setting>
			<setting name="TibHMScrap" serializeAs="String">
				<value>Gold</value>
			</setting>
			<setting name="TibVessels" serializeAs="String">
				<value>SeaGreen</value>
			</setting>
			<setting name="TibPlan" serializeAs="String">
				<value>HotPink</value>
			</setting>
			<setting name="TibSecSteel" serializeAs="String">
				<value>YellowGreen</value>
			</setting>
			<setting name="TibCasters" serializeAs="String">
				<value>SkyBlue</value>
			</setting>
			<setting name="TibCranes" serializeAs="String">
				<value>Peru</value>
			</setting>
			<setting name="TibNoReason" serializeAs="String">
				<value>DarkGray</value>
			</setting>
			<setting name="TibExternalText" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="TibMultiServText" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="TibHMScrapText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="TibVesselsText" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="TibPlanText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="TibSecSteelText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="TibCastersText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="TibCranesText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="TibNoReasonText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="HeightTibNotProducing" serializeAs="String">
				<value>8</value>
			</setting>
			<setting name="HeightTibProducing" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="HeightTibInProcess" serializeAs="String">
				<value>18</value>
			</setting>
			<setting name="HeightTibOutProcess" serializeAs="String">
				<value>12</value>
			</setting>
			<setting name="HeightTibUnproductive" serializeAs="String">
				<value>8</value>
			</setting>
			<setting name="QuickTibShadows" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="QuickTibTimeLine" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="QuickTibLegend" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="QuickTibCellWidth" serializeAs="String">
				<value>65</value>
			</setting>
			<setting name="QuickHeatShadows" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="QuickHeatTimeLine" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="QuickHeatCellWidth" serializeAs="String">
				<value>50</value>
			</setting>
			<setting name="QuickHeatColourBy" serializeAs="String">
				<value>Caster</value>
			</setting>
			<setting name="QuickHeatExtraData" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="QuickCasterShadows" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="QuickCasterTimeLine" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="QuickCasterChart" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="QuickCaster7pmPlan" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="QuickCasterExtraData" serializeAs="String">
				<value>None</value>
			</setting>
			<setting name="QuickCaster7amStock" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FontOverviewHeatNo" serializeAs="String">
				<value>Courier New, 8.25pt</value>
			</setting>
			<setting name="FontOverviewExtraData" serializeAs="String">
				<value>Courier New, 8.25pt</value>
			</setting>
			<setting name="FontTibHeatNo" serializeAs="String">
				<value>Courier New, 8.25pt</value>
			</setting>
			<setting name="FontCasterHeatNo" serializeAs="String">
				<value>Courier New, 8.25pt</value>
			</setting>
			<setting name="FontCasterExtraData" serializeAs="String">
				<value>Courier New, 8.25pt</value>
			</setting>
			<setting name="AutoUpdate" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="TibUnitsToHide" serializeAs="String">
				<value/>
			</setting>
			<setting name="HeatUnitsToHide" serializeAs="String">
				<value/>
			</setting>
			<setting name="TibReportFilters" serializeAs="String">
				<value/>
			</setting>
			<setting name="DelayAnalysisReportFilters" serializeAs="String">
				<value/>
			</setting>
			<setting name="DelayAnalysisReportGroupBy" serializeAs="String">
				<value/>
			</setting>
			<setting name="SlowCastColour" serializeAs="String">
				<value>Red</value>
			</setting>
			<setting name="LimePlantEventColour" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="LimePlantChangeOverColour" serializeAs="String">
				<value>HotPink</value>
			</setting>
			<setting name="FontOverviewMiscast" serializeAs="String">
				<value>Courier New, 8.25pt</value>
			</setting>
			<setting name="ShowTargetCastingRateLine" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowTonnesPerHourHMGridline" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowTonnesPerMinuteHMGridline" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="QuickHeatMiscasts" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ShowHMBufferLines" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowCastingRateLines" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CBMColourScheme" serializeAs="String">
				<value>Default</value>
			</setting>
			<setting name="OEELevel1Background" serializeAs="String">
				<value>128, 128, 255</value>
			</setting>
			<setting name="OEELevel2Background" serializeAs="String">
				<value>Azure</value>
			</setting>
			<setting name="OEEL1Text" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="OEEL2Text" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="EBMColourScheme" serializeAs="String">
				<value>Default</value>
			</setting>
			<setting name="OverviewDaysToShow" serializeAs="String">
				<value>8</value>
			</setting>
			<setting name="TibDaysToShow" serializeAs="String">
				<value>8</value>
			</setting>
			<setting name="MemoryLimit" serializeAs="String">
				<value>400</value>
			</setting>
			<setting name="QuickCaster10amPlan" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ColourHighlight1" serializeAs="String">
				<value>20, 200, 250</value>
			</setting>
			<setting name="ColourHighlight2" serializeAs="String">
				<value>244, 60, 60</value>
			</setting>
			<setting name="ColourHighlight3" serializeAs="String">
				<value>24, 160, 24</value>
			</setting>
			<setting name="ColourHighlight4" serializeAs="String">
				<value>255, 142, 30</value>
			</setting>
			<setting name="ColourDashHeaderBack" serializeAs="String">
				<value>PowderBlue</value>
			</setting>
			<setting name="ColourDashRowBack" serializeAs="String">
				<value>WhiteSmoke</value>
			</setting>
			<setting name="ColourDashAltRowBack" serializeAs="String">
				<value>218, 235, 255</value>
			</setting>
			<setting name="ColourDashGoodBack" serializeAs="String">
				<value>38, 244, 62</value>
			</setting>
			<setting name="ColourDashBadBack" serializeAs="String">
				<value>225, 35, 1</value>
			</setting>
			<setting name="ColourDashMissingBack" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="ColourDashHeaderText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="ColourDashRowText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="ColourDashAltRowText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="ColourDashGoodText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="ColourDashBadText" serializeAs="String">
				<value>White</value>
			</setting>
			<setting name="ColourDashMissingText" serializeAs="String">
				<value>Black</value>
			</setting>
			<setting name="TrendShowLegend" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CMCMaxDaysHistory" serializeAs="String">
				<value>-30</value>
			</setting>
		</Elvis.Properties.Settings>
	</userSettings>

	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="myTraceSource" switchName="mySwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<clear/>
					<add name="evengloglistener" type="System.Diagnostics.EventLogTraceListener" initializeData="myApp"/>
					<add name="delimitedListener" type="System.Diagnostics.DelimitedListTraceListener" delimiter="|" initializeData="c:\outfile.csv.txt" traceOutputOptions="ProcessId, DateTime"/>
					<add name="textwriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\outfile.txt" traceOutputOptions="ProcessId, DateTime, Callstack"/>
					<add name="xmlListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\outfile.xml" traceOutputOptions="ProcessId, DateTime"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<!-- // Enable information, warning, error and critical events -->
			<add name="mySwitch" value="Information"/>
		</switches>
	</system.diagnostics>
</configuration>
