<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets async="true">
    <!--<target name="LogFile"
      xsi:type="File"
      fileName="${basedir}/logs/logfile.log"
      layout="${longdate}|${level}|${callsite}|${logger}|${threadid}|${windows-identity:domain=false}|${message} ${exception:format=message,stacktrace:separator=*"
      archiveFileName="${basedir}/logs/archives/log.{#}.txt"
      archiveAboveSize="1000000"
      archiveEvery="None"
      archiveNumbering = "Sequence"
      maxArchiveFiles="2" />-->
    
    <!--<target xsi:type="NLogViewer" name="viewer" address="udp://127.0.0.1:9999" /> -->
    
    <!--<target name="database" 
            xsi:type="Database" 
            connectionString="data source=PTCCL3SQL.porttalbot.pcswales.corusgroup.com;initial catalog=ElvisDB;persist security info=True;user id=ElvisClient;password=clientpwd;"
            commandText="INSERT INTO Config.Logs(
                            TimeStamp, 
                            LogLevel, 
                            Logger, 
                            MachineName, 
                            UserName, 
                            Message, 
                            Exception, 
                            StackTrace, 
                            CallSite, 
                            Thread) 
                         VALUES(
                            @TimeStamp, 
                            @LogLevel, 
                            @Logger, 
                            @MachineName, 
                            @UserName, 
                            @Message,
                            @Exception, 
                            @StackTrace,
                            @CallSite, 
                            @Thread)">
      
      <parameter name="@TimeStamp" layout="${longdate}"/>
      <parameter name="@LogLevel" layout="${level}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@MachineName" layout="${machinename}"/>
      <parameter name="@UserName" layout="${windows-identity:domain=true}"/>
      <parameter name="@Message" layout="${message}"/>
      <parameter name="@Exception" layout="${exception}"/>
      <parameter name="@StackTrace" layout="${stacktrace}"/>
      <parameter name="@CallSite" layout="${callsite:filename=true}"/>
      <parameter name="@Thread" layout="${threadid}"/>
    </target>-->
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="database" />
    <!-- <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="viewer"  /> -->
  </rules>
</nlog>
